/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: white;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #d4b48c;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #d4b48c;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #d4b48c;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: black;
     -fx-stroke: black;
}